*.run.xml
*.synctex.gz
*.synctex(busy)
*.aux
*.bbl
*.bcf
*.blg
*.log
*.out
*.txss
*.bak
*.bak?
*.pdf
*.ps
*.fdb_latexmk
*.fls
/.vscode/
*.xdv
fonts
*.sav
!/fig/*.pdf
*.tdo
__latexindent_temp.tex
!/.vscode/placeholder.txt
